html {
  height: 100%;
  display: flex;
  background-color: whitesmoke;
}

/* *** Body and Header Section *** */

body {
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: auto;
  width: 50%;
}

h1 {
  margin-bottom: 5px;
  padding-left: 5px;
}

.subtitle {
  margin: 0px;
  margin-bottom: 10px;
  padding: 5px;
  color: #6b7177;
}

article {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  box-shadow: 0.5px 0 10px 1px gainsboro;
}

/* *** PhotoCard Section *** */

.photo-card {
  background: white;
}

img {
  border-radius: 10px 10px 0px 0px;
  object-fit: contain;
}

h2 {
  margin-left: 1rem;
}

p {
  margin-left: 1rem;
  margin-right: 1rem;
}

button {
  padding: 10px;
  margin: 20px;
  width: 12%;
}

/* *** Loader Animation Section *** */

.rocket-ship {
  font-size: 20px;
  animation-name: blink;
  animation: blinker 0.5s linear infinite;
  text-align: center;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.hidden {
  visibility: hidden;
}
